@using Orientation = Radzen.Orientation
@using Variant = MudBlazor.Variant
@inject IInstallerService installer;
<div class="card">


    <RadzenCard Style="max-width: 420px">
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
            <RadzenImage Path="@App.App.AppIcon" Style="border-radius: 50%; height: 100px; width: 100px;"/>
            <RadzenStack Gap="0">
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Name</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">
                    <b>@(App.App.AppName)</b>
                </RadzenText>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Description</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">
                    <b>@App.App.Description</b>
                </RadzenText>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Version</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">
                    <b>@App.App.CurrentReleaseVersion</b>
                </RadzenText>
            </RadzenStack>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0">


            @if (App.CanBeInstalled)
            {
                <MudButton Variant="Variant.Filled" Class="btn w-100" Color="Color.Primary" Disabled="@IsBusy" OnClick="UpdateInstall">INSTALL</MudButton>
                <br/>
            }
            else if (App.IsUpdateAvailable)
            {
                <MudButton Variant="Variant.Filled" Class="btn w-100" Disabled="@IsBusy" OnClick="UpdateInstall" Color="Color.Info">Update</MudButton>
                <br/>
            }
            else
            {
                <div class="btn  w-100 btn-success disabled">Up To Date</div>
            }


            <br/>

        </RadzenStack>

        @if (IsBusy)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7"/>
        }

    </RadzenCard>


</div>

@code {

    [Parameter]
    public AppsOverviewViewModel App { get; set; }

    [Parameter]
    public EventCallback<bool> AppStateChanged { get; set; }

    private bool IsBusy = false;

    async void UpdateInstall()
    {
        IsBusy = true;
        var update = App.App.Revisions.OrderBy(x => x.AppVersion).Last();
        await installer.InstallAndDownloadPackage(update, App.App.PackageName);
        App.InstalledVersion = update.AppVersion;
        IsBusy = false;
        StateHasChanged();
        await AppStateChanged.InvokeAsync(true);
    }

}