@page "/"
@using Blazored.SessionStorage
@inject IJSRuntime JsRuntime;
@inject IAppService appService;
@inject NavigationManager navigate;

@inject ISessionStorageService SessionStorage
@inject AuthenticationStateProvider AuthStatProvider
@attribute [Authorize]
<h1>App Overview</h1>




<head>
    <title>Apptique</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

<div class="video-bg">
    <video width="320" height="240" autoplay loop muted>
        <source src="/adminbg.mp4"
            type="video/mp4"/>
        Your browser does not support the video tag.
    </video>
</div>



<AuthorizeView>
    
    
    <NotAuthorized></NotAuthorized>
    
    
    <Authorized>

            <div class="dark-light">
                <svg viewBox="0 0 24 24"
                     stroke="currentColor"
                     stroke-width="1.5"
                     fill="none"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
                </svg>
            </div>
            <div class="app">
                <div class="header">


                    <div class="side-menu" style="color: #ff6200; display: flex; flex-direction: row">

                        <div>
                            <img src="apptique-website-favicon-color (1).svg" style="width: 40px; height: 40px;" />
                        </div>



                        <div style="margin-top: 9px">
                            &nbsp Apptique Server
                        </div>

                    </div>



                </div>
                <div class="wrapper">
                    <div class="left-side">

                        <div class="side-wrapper">

                            <div class="side-title">Overview</div>

                            <div class="side-menu">

                                <a href="/" @onclick="displayAllApps">

                                    <svg viewBox="0 0 512 512">
                                        <g xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                            <path d="M0 0h128v128H0zm0 0M192 0h128v128H192zm0 0M384 0h128v128H384zm0 0M0 192h128v128H0zm0 0"
                                                  data-original="#bfc9d1" />
                                        </g>
                                        <path xmlns="http://www.w3.org/2000/svg"
                                              d="M192 192h128v128H192zm0 0"
                                              fill="currentColor"
                                              data-original="#82b1ff" />
                                        <path xmlns="http://www.w3.org/2000/svg"
                                              d="M384 192h128v128H384zm0 0M0 384h128v128H0zm0 0M192 384h128v128H192zm0 0M384 384h128v128H384zm0 0"
                                              fill="currentColor"
                                              data-original="#bfc9d1" />
                                    </svg>

                                    Published Apps
                                </a>



                            </div>
                        </div>

                        <div class="side-wrapper">

                            <div class="side-title">Settings</div>

                            <div class="side-menu">

                                <a href="/" @onclick="displaySettings">
                                    <svg viewBox="0 0 512 512" fill="currentColor">
                                        <path d="M0 331v112.295a14.996 14.996 0 007.559 13.023L106 512V391L0 331zM136 391v121l105-60V331zM271 331v121l105 60V391zM406 391v121l98.441-55.682A14.995 14.995 0 00512 443.296V331l-106 60zM391 241l-115.754 57.876L391 365.026l116.754-66.15zM262.709 1.583a15.006 15.006 0 00-13.418 0L140.246 57.876 256 124.026l115.754-66.151L262.709 1.583zM136 90v124.955l105 52.5V150zM121 241L4.246 298.876 121 365.026l115.754-66.15zM271 150v117.455l105-52.5V90z" />
                                    </svg>
                                    User Credentials
                                </a>
                                
                                
                                <a href="/" @onclick="displayConfigureAPIKey">
                                    <svg viewBox="0 0 512 512" fill="currentColor">
                                        <path
                                            d="M497 151H316c-8.401 0-15 6.599-15 15v300c0 8.401 6.599 15 15 15h181c8.401 0 15-6.599 15-15V166c0-8.401-6.599-15-15-15zm-76 270h-30c-8.401 0-15-6.599-15-15s6.599-15 15-15h30c8.401 0 15 6.599 15 15s-6.599 15-15 15zm0-180h-30c-8.401 0-15-6.599-15-15s6.599-15 15-15h30c8.401 0 15 6.599 15 15s-6.599 15-15 15z"
                                        />
                                        <path
                                            d="M15 331h196v60h-75c-8.291 0-15 6.709-15 15s6.709 15 15 15h135v-30h-30v-60h30V166c0-24.814 20.186-45 45-45h135V46c0-8.284-6.716-15-15-15H15C6.716 31 0 37.716 0 46v270c0 8.284 6.716 15 15 15z"
                                        />
                                    </svg>
                                    Configure API Key
                                </a>

                            </div>
                            


                        </div>


                    </div>
                    <div class="main-container">
                        <div class="main-header">

                            
                            
                            @if (showAllApps)
                            {
                                <div class="header-menu" style="padding-left: 18%">
                                    <a class="main-header-link is-active" href="/" @onclick="displayAllApps">All Apps</a>
                                    <a class="main-header-link" href="/" @onclick="displayAddNewApp">Release New App</a>
                                </div>
                            }
                            
                            @if (showAddNewApp)
                            {
                                <div class="header-menu" style="padding-left: 18%">
                                    <a class="main-header-link" href="/" @onclick="displayAllApps">All Apps</a>
                                    <a class="main-header-link is-active" href="/" @onclick="displayAddNewApp">Release New App</a>
                                </div>
                            }
                            
                            @if (showSettings)
                            {
                                <div class="header-menu" style="padding-left: 18%">
                                    <a class="main-header-link is-active" href="/" @onclick="displayAllUsers">All Users</a>
                                    <a class="main-header-link" href="/" @onclick="displayAddNewUser">Add New User</a>
                                </div>
                            }
                            
                            @if (showAddNewUser)
                            {
                                <div class="header-menu" style="padding-left: 18%">
                                    <a class="main-header-link" href="/" @onclick="displayAllUsers">All Users</a>
                                    <a class="main-header-link is-active" href="/" @onclick="displayAddNewUser">Add New User</a>
                                </div>
                            }
                            
                            @if (showConfigureAPIKey)
                            {
                                <div class="header-menu" style="padding-left: 25%">
                                    <a class="main-header-link is-active" href="/" @onclick="displayConfigureAPIKey">Configure API Key</a>
                                    
                                </div>
                            }


                        </div>
                        <div class="content-wrapper">

                            <div class="content-section">


                                @if (showAllApps)
                                {
                                    <div style="display: flex; flex-direction: row">
                                        <div class="content-section-title" style="margin-left: 8%;">Name</div>
                                        <div class="content-section-title" style="margin-left: 17%;">Description</div>
                                    </div>



                                    <ul>

                                        @foreach (var item in apps)
                                        {
                                            <li class="adobe-product">

                                                <div class="products">

                                                    <img src="@item.AppIcon" style="width: 40px;width: 40px;border-radius: 5px;height: 40px;"  />

                                                    &nbsp &nbsp @item.AppName


                                                </div>
                                                <span class="status" style="padding-left: 12%; margin-right: 25%">
                                                    @item.Description
                                                </span>

                                                <div class="button-wrapper">
                                                    Version: @item.CurrentReleaseVersion
                                                </div>

                                                <div class="button-wrapper">

                                                    <MudIconButton Icon="@Icons.Material.Filled.Update" Color="Color.Info" OnClick="@(()=>NavigateToRevisions(item))" Size="@Size.Small" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(()=>Delete(item))" Size="@Size.Small" />

                                                </div>
                                            </li>
                                        }

                                    </ul>
                                }

                                @if (showAddNewApp)
                                {


                                    <NewApp />



                                }

                                @if (showSettings)
                                {
                                    <Settings />
                                }
                                
                                @if (showAddNewUser)
                                {
                                    <NewUser />
                                }
                                
                                @if (showConfigureAPIKey)
                                {
                                    <ConfigureAPIKey />
                                }


                            </div>

                        </div>
                    </div>
                </div>

                <div class="overlay-app"></div>


            </div>
        

    </Authorized>
    
    

</AuthorizeView>




</body>

<style>


    body {
        background-color: black;
    }

</style>


@code {
    private List<AppModel> apps;
    private bool showAllApps = true;
    private bool showAddNewApp = false;
    private bool showSettings = false;
    private bool showAddNewUser = false;
    private bool showConfigureAPIKey = false;

  

    protected override async Task OnInitializedAsync()
    {
        apps = await appService.GetAllApps();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("import", "/script.js");
        }
    }

    void NavigateToRevisions(AppModel app)
    {
        navigate.NavigateTo($"AppRevisions/{app.ID}", true);
    }

    async Task Delete(AppModel app)
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            foreach (var rev in app.Revisions)
            {
                await appService.RemoveAPKPhysically(rev.ApkPath);
            }

            await appService.DeleteAppById(app.ID);
            apps.Remove(app);
        }
    }

    private void displayAllApps()
    {
        showAllApps = true;
        showAddNewApp = false;
        showSettings = false;
        showAddNewUser = false;
        showConfigureAPIKey = false;
    }

    private void displayAddNewApp()
    {
        showAllApps = false;
        showAddNewApp = true;
        showSettings = false;
        showAddNewUser = false;
        showConfigureAPIKey = false;
    }

    private void displaySettings()
    {
        showAllApps = false;
        showAddNewApp = false;
        showSettings = true;
        showAddNewUser = false;
        showConfigureAPIKey = false;

    }

    private void displayAllUsers()
    {
        showAllApps = false;
        showAddNewApp = false;
        showSettings = true;
        showAddNewUser = false;
        showConfigureAPIKey = false;
    }

    private void displayAddNewUser()
    {
        showAllApps = false;
        showAddNewApp = false;
        showSettings = false;
        showAddNewUser = true;
        showConfigureAPIKey = false;
    }

    private void displayConfigureAPIKey()
    {
        showAllApps = false;
        showAddNewApp = false;
        showSettings = false;
        showAddNewUser = false;
        showConfigureAPIKey = true;
    }



}
